/* root colors */
/* current set up */
:root {
      --primary-color: #362FD9;
      --secondary-color: #3C84AB;
      --tertiary-color: #85CDFD;
      --enhance-color: #DEFCF9;
      --lincoln-color: #478778;
      --pastel-color: #C1E1C1;
      --viridian-color: #40826D;
}
/* cool second place */
/* :root {
      --primary-color: #6096B4;
      --secondary-color: #93BFCF;
      --tertiary-color: #BDCDD6;
      --enhance-color: #EEE9DA;
} */
/* cool third place */
/* :root {
      --primary-color: #001C30;
      --secondary-color: #176B87;
      --tertiary-color: #64CCC5;
      --enhance-color: #DAFFFB;
} */

/* body and html  */
html,
body {
      overflow: hidden;
      overflow-y: scroll;
      height: 100%;
}
body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      /* background-image: linear-gradient(to bottom left, var(--enhance-color), var(--secondary-color)); */
      /* background-color: var(--primary-color); */
      background-color: var(--viridian-color);
}

/* header settings */
.navbar-custom {
      position: sticky;
      top: 0;
      width: 100%;
      background-color: var(--lincoln-color);
      background-image: linear-gradient(to bottom right, var(--lincoln-color), var(--viridian-color));
      /* background-image: url('./images/woodboard-header-bg.jpeg'); */
      display: flex;
      justify-content: flex-end;
      padding-block: 1%;
      color: white;
      border-bottom: 1px solid black;
      z-index: 1000;
}
.navbar-custom .dropdown-toggle::after {
      content: none !important;
}
.nav-button {
      background-color: var(--lincoln-color);
      border: none; /* Remove the border */
      padding: 0.5rem 1rem; /* Add some padding for better appearance */
}

/* hero settings */
.hero-container-master {
      overflow: hidden;
}
.hero-container {
      width: 100%;
      margin-top: 0;
}
.hero-image {
      width: 100%;
}

/* navbar settings */
.newsletter-master {
      background: var(--pastel-color);
}
.newsletter-menu-header {
      background: var(--pastel-color);
      margin-bottom: 0;
      padding-bottom: 2%;
}
.header-img {
      margin-left: 20px;
}
.dropdown-menu {
      margin-left: auto;
      right: 0;
      left: auto;
      transform: translate(0, 40%);
}
.dropdown-menu.show {
      background-image: var(--enhance-color);
}
.header-center-piece {
      text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

/* tap page settings */
.tap-menu {
      background-color: var(--secondary-color);
}
.card {
      border: none;
      /* background-image: linear-gradient(to bottom left, var(--tertiary-color), var(--secondary-color)); */
      background-color: darkseagreen;
      color: var(--enhance-color);
      margin-bottom: 3%;
      padding: 5px;
}
.tap-menu-header {
      border-bottom: 1px solid var(--lincoln-color);
      text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
      width: fit-content;
}
.tap-title {
      border-bottom: 1px solid var(--lincoln-color);
      text-transform: uppercase;
      text-shadow: 1px 3px 3px rgba(46,91,173,0.6);
}
.tap-style {
      font-style: italic;
      text-transform: uppercase;
}
.tap-description {
}
.tap-facts {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.tap-fact {
      border-bottom: 1px solid var(--tertiary-color);
      width: fit-content;
      background-color: darkseagreen;
}
.taps-list-group-item {
      background-color: darkseagreen;
      color: white;
}

/* accordion settings */
/* moccasin */
.accordion-button.collapsed {
      background-color: var(--viridian-color);
      opacity: 80%;
}
.accordion-button:not(.collapsed) {
      background-color: var(--viridian-color);
}
.accordion-body {
      background-color: darkseagreen;
}

/* newsletter page settings */
.newsletters-navbar {
      background-color: var(--enhance-color);
      width: fit-content;
      z-index: 1000;
      position: sticky;
}
.newsletter-nav-header { 
      height: fit-content;
}
.newsletter-navbuttons-container {
      display: flex;
      flex-direction: row;
}
.newsletter-nav-button {
      text-decoration: none;
      color: inherit;
}
.newsletter-title {
      border-bottom: 1px solid var(--tertiary-color);
      width: fit-content;
      text-shadow: 1px 3px 3px rgba(46,91,173,0.6);
}
.news-letter-item {
}
.newsletter-list-group-item {
      background: var(--pastel-color);
}
.per-newsletter {
}
.section-background-1 {
      padding-block: 2%;
}
.section-background-2 {
      padding-block: 2%;
}
.newsletter-section {
      font-weight: bolder;
      font-size: large;
      line-height: 2.2;
}
.link-icon {
      margin: 10%;
}

/* admin workshop settings */
.logout-button-container {
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 10px; /* Add padding if needed */
}

/* footer settings */
footer {
      padding-block: 2%;
      margin-top: auto;
      /* background-image: linear-gradient(to bottom right, #e2e25e, #71712f); */
      background-image: linear-gradient(to bottom right, var(--lincoln-color), var(--viridian-color));
}

/*Filter styles*/
.saturate { filter: saturate(0%); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.5); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }