html,
body {
      overflow: hidden;
      height: 100%;
}

body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}

/* navbar settings */
.header-img {
      margin-left: 20px;
}

.navbar-custom {
      background-color: #fcfc69;
      display: flex;
      justify-content: flex-end;
      padding-block: 2%;
}

.navbar-custom .dropdown-toggle::after {
      content: none !important;
}

.dropdown-menu {
      margin-left: auto;
      right: 0;
      left: auto;
      transform: translate(0, 40%);
}

/* beer page settings */
.card {
      border: none;
}
.beer-title {
      font-family: fantasy;
}
.beer-style {
      font-style: italic;
      font-family: fantasy;
}

/* footer settings */
footer {
      padding-block: 2%;
      background-color: #fcfc69;
      margin-top: auto;
}