/* body and html  */
html,
body {
      overflow: hidden;
      overflow-y: scroll;
      height: 100%;
}
body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to bottom left, #fffbe5, #ffffff);
}

/* navbar settings */
.header-img {
      margin-left: 20px;
}
.navbar-custom {
      /* background-color: #fcfc69; */
      background-image: linear-gradient(to right, #e2e25e, #71712f);
      /* background-image: url('./images/woodboard-header-bg.jpeg'); */
      display: flex;
      justify-content: flex-end;
      padding-block: 2%;
      color: white;
}
.navbar-custom .dropdown-toggle::after {
      content: none !important;
}
.dropdown-menu {
      margin-left: auto;
      right: 0;
      left: auto;
      transform: translate(0, 40%);
}
.dropdown-menu.show {
      background-image: linear-gradient(to right, #e2e25e, #71712f)
}
.dropdown-item {
      font-family: fantasy;
}
.header-center-piece {
      font-family: fantasy;
      text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

/* beer page settings */
.card {
      border: none;
      background-image: linear-gradient(to bottom left, #fffbe5, #ffffff);
}
.beer-title {
      font-family: fantasy;
      border-bottom: 1px solid #e2e25e;
      text-transform: uppercase;
      text-shadow: 1px 3px 3px rgba(46,91,173,0.6);
}
.beer-style {
      font-style: italic;
      text-transform: uppercase;
      font-family: fantasy;
}
.beer-description {
      font-family: fantasy;
}
.beer-facts {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.beer-fact {
      border-bottom: 1px solid #e2e25e;
      width: fit-content;
}

/* footer settings */
footer {
      padding-block: 2%;
      background-color: #fcfc69;
      margin-top: auto;
      /* background-image: linear-gradient(to bottom right, #e2e25e, #71712f); */
      background-image: linear-gradient(to bottom right, #d8d8d8, #808080);
}

/*Filter styles*/
.saturate { filter: saturate(0%); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.5); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }